/*
palette 
    #ac7e62
    #ba9a88
    #d2c8bc
    #bbcfd7 
    #5b828e
*/

/* Main styles */
.general {
    max-width: auto;
    margin: auto;
    text-align: center;
}
body {
    background: #ac7e62;
    text-align: center;
}
h1 {
    color: black;
}
h2 {
    color: black;
}
p {
    color: black;
}
#splitPage {
    display: flex;
}
.splitChild {
    flex: 1;
}
ul {
    list-style-type: none;
  }

/* Main page nav buttons */
.imgButton {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: 24%;
}
.imgButton img {
    width: 100%;
    height: auto;
}
.imgButton .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.imgButton .btn:hover {
    background-color: black;
}
.blur {
    filter: blur(8px);
    width: 60%;
}

/* Navbar, from W3 */
.navbar {
    background-color: #ba9a88;
    overflow: hidden;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: #d2c8bc;
    color: black;
}
.navbar a.active {
    background-color: #5b828e;
    color: white;
}
.classPages {
    float: left;
    overflow: hidden;
}
.classPages .classButton {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .classPages:hover .classButton {
    background-color: #d2c8bc;
    color: black;
}
.dropdown {
    display: none;
    position: absolute;
    background-color: #ba9a88;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown a:hover {
    background-color: #d2c8bc;
}
.classPages:hover .dropdown {
    display: block;
}

/* Footer */
.footerClass {
    text-align: center;
    padding: 3px;
    background-color: #ba9a88;
    color: black;
}

/* Contact form using emailjs */
.contact {
    text-align: left;
    display: inline-block;
    border-radius: 10px;
    background-color: #d2c8bc;
    padding: 25px;
    width:50%;
    margin-bottom: 100px;
    margin-top: 30px;


}
input[type=text], input[type=tel], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;

}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    resize: vertical;
}